body{
	background-color: white;
	margin: 0;
	padding: 0;
}

.pasto-verde{
	background-color: green;
	padding-top:135px;
	margin-top: 500px;
	width: 100%;
	position: relative;
}

.sol-inicial{
	width: 100px;
	height: 100px;
	background: yellow;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	left: 40px;
	top: 40px;
	position: absolute;
	
}


.base{
	width: 300px;
	height: 200px;
	background: #401f08;
	margin-left: 800px;
	position:absolute;
	bottom: 100px;

}

.puerta{
	width: 80px;
	height: 100px;
	background: gray;
	margin-left: 900px;
	position:absolute;
	bottom: 100px;
}

.ventana{
	width: 50px;
	height: 50px;
	background: #ff62b0;
	margin-left: 1000px;
	position:absolute;
	bottom: 150px;
}

.corazon{
	width: 200px;
}

.corazon i{
	color: red;
	position: absolute;
	bottom: 150px;
	margin-left: 930px;
	font-size: 40px;
	
}

/*.corazon{
	margin-left: 920px;
	bottom: 190px;
	background-color: red;
	position: relative;
}

.corazon:before,
.corazon:after {
    position: absolute;
    content: "";
    left: 20px;
    top: 0;
    width: 20px;
    height: 50px;
    background: red;
    -moz-border-radius: 50px 50px 0 0;
    border-radius: 50px 50px 0 0;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
       -moz-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
         -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
}
.corazon:after {
    left: 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: 100% 100%;
       -moz-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
         -o-transform-origin: 100% 100%;
            transform-origin :100% 100%;
}*/

.techo{
	border-bottom: 100px solid black;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	height: 200;
	width: 200px;
	margin-left: 800px;
	position:absolute;
	bottom: 300px;
}

.chimenea{
	width: 20px;
	height: 50px;
	background: #ff5c5c;
	margin-left: 1000px;
	position:absolute;
	bottom: 320px;
}

.punto1{
		width: 20px;
	height: 20px;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	background: gray;
	float: right;
	bottom: 380px;
	position: relative;
	margin-right: 300px;
}

.punto2{
	width: 20px;
	height: 20px;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	background: gray;
	float: right;
	bottom: 400px;
	position: relative;
	margin-right: -30px;
}